<!DOCTYPE html>
<!-- saved from url=(0019)http://ihcph.kk.dk/ -->
<html class=" js js no-touch rgba multiplebgs backgroundsize boxshadow textshadow opacity csstransforms fontface generatedcontent svg" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Netminers.Addvars.CampaignBox4" content="Visit Copenhagen FB">
    <link rel="shortcut icon" href="http://ihcph.kk.dk/sites/all/themes/kkms_theme/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="Netminers.Addvars.CampaignBox3" content="cph post facebook">
    <meta name="Netminers.Addvars.CampaignBox2" content="facebook logo slideshow">
    <meta name="Netminers.Addvars.ContentID" content="Struktur/nodeid/1">
    <meta name="Netminers.Addvars.ContentType" content="Struktur/Primændholdstype/section_page">
    <meta name="Netminers.Addvars.CampaignBox1" content="Current services at the International House">
    <meta name="generator" content="Drupal 7 (http://drupal.org)">
    <link rel="canonical" href="./ihcph.kk.dk_files/ihcph.kk.dk.html">
    <link rel="shortlink" href="./ihcph.kk.dk_files/ihcph.kk.dk.html">
    <meta property="og:site_name" content="ihcph.kk.dk">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://ihcph.kk.dk/">
    <meta property="og:title" content="ihcph.kk.dk">
    <title>ihcph.kk.dk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css"></style>
    <link type="text/css" rel="stylesheet" href="./Content/css_rEI_5cK_B9hB4So2yZUtr5weuEV3heuAllCDE6XsIkI.css" media="all">
    <link type="text/css" rel="stylesheet" href="./Content/css_NXti8f1KG_3PtT4IIc0U3jDor0MbcpVCy5HvGkHBurk.css" media="screen">
    <link type="text/css" rel="stylesheet" href="./Content/css_1EEb381NQgnHG9UcOqDzMBGM5XiH5jN41bswgqcwD7s.css" media="all">
    <link type="text/css" rel="stylesheet" href="./Content/css_9fm8Wm1DpRj4naf-M4msEQ5zbpULFkSvuG1gnmsd1kQ.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />
    <style type="text/css" media="all">
        <!-- /*--><![CDATA[/*><!--*/
        #sliding-popup.sliding-popup-top {
            background: #0779BF;
        }

        #sliding-popup .popup-content #popup-text h2, #sliding-popup .popup-content #popup-text p {
            color: #ffffff !important;
        }

        /*]]>*/ -->
    </style>
    <link type="text/css" rel="stylesheet" href="./Content/css_Yw_ItX7CvjVLFBjFkdXtqvp3BW-LFeTYcvCqqUuI9Og.css" media="all">
    <link type="text/css" rel="stylesheet" href="./Content/kkms.style.css" media="all">
    <link type="text/css" rel="stylesheet" href="./Content/css_SGUt0AlhHb7oVMZHoF04t7A0CbMMmw9Iz_fK2Xf3g9w.css" media="all">
    <link type="text/css" rel="stylesheet" href="./Content/css_B2cQntCB09Tw2jRvNa1_umUcHyQahI_pCWNjlB60s0Y.css" media="print">
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="http://ihcph.kk.dk/sites/ihcph.kk.dk/files/css/css_8Om3FJGTCEbYRZ3Cc_ar3raee8NmEXNBXI82wk3LTkI.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
    <link type="text/css" rel="stylesheet" href="http://ihcph.kk.dk/sites/ihcph.kk.dk/files/css/css_j6j1bbIUhe0yUNIwdLprOBgj2IfI5nE9T0yEqZRp4yY.css" media="all" />
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="/sites/all/themes/kkms_theme/js/libraries/respond.min.js"></script>
      <![endif]-->
    <div class="fit-vids-style" id="fit-vids-style" style="display: none;">­
    <style>
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style></div>
    <script src="./Scripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="./Scripts/jquery.js"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
window.jQuery || document.write("<script src='/sites/all/modules/contrib/jquery_update/replace/jquery/1.7/jquery.js'>\x3C/script>")
//--><!]]>
    </script>
    <script type="text/javascript" src="~/Scripts/multi_step_form.js"></script>
    <script type="text/javascript" src="./Scripts/js_w7uVD8bBWfh2VJ5KdjPpb0SDOvhak58LFSLk2Z13nTM.js"></script>
    <script type="text/javascript" src="./Scripts/js_J_ABpmp4EUKO-4tWIgNrk6Rr8ZH9u1VWMln-06ueVmk.js"></script>
    <script type="text/javascript" src="./Scripts/js_Btaq4foo9TSt7SVtt1Xgqk46TyqPNX_Js0PDuHNOUho.js"></script>
    <script type="text/javascript" src="./Scripts/js_B7W58MaYKTw-AzHOfJ5CkiY3nUXLEU3eP-cbUojzEvE.js"></script>
    <script type="text/javascript" src="./Scripts/jsapi"></script>
    <script type="text/javascript" src="./Scripts/js_BsmLz4eyBKqWiPToabyPukJE-mTAwDl5exoozCdarh0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="multi_step_form.js"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
var MTUserId="f1094ce0-bc6d-46d9-bd00-024ecdfc53f2";
var MTFontIds = new Array();

                  MTFontIds.push("1122863"); // Gill Sans® W04 Roman
                  MTFontIds.push("1122851"); // Gill Sans® W04 Italic
                  MTFontIds.push("1122651"); // Gill Sans® W04 Bold
                  MTFontIds.push("1122821"); // Gill Sans® W04 Bold Italic
                  (function() {
                  	var mtTracking = document.createElement("script");
                  	mtTracking.type="text/javascript";
                  	mtTracking.async="true";
                  	mtTracking.src=("https:"==document.location.protocol?"https:":"http:")+"//fast.fonts.net/lt/trackingCode.js";

                  	(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(mtTracking);
                  })();
//--><!]]>
    </script>
    <script type="text/javascript" async="" src="./Scripts/trackingCode.js"></script>
    <script type="text/javascript" src="./Scripts/js_vTilzW4eFw9EDoJbJk7bBX9JWuASrd-pM_zksu_SZWw.js"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"kkms_theme","theme_token":"DF6KjhbVudKyfAo6aKLh0T9bX-4GHRvF448tTLr4L5Q","js":{"sites\/all\/modules\/contrib\/flexslider\/assets\/js\/flexslider.load.js":1,"sites\/all\/modules\/contrib\/eu-cookie-compliance\/js\/eu_cookie_compliance.js":1,"sites\/all\/themes\/kkms_theme\/js\/flexslider.js":1,"sites\/all\/themes\/kkms_theme\/js\/libraries\/jquery-custom-scrollbar\/jquery.custom-scrollbar.min.js":1,"\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/1.7.2\/jquery.js":1,"0":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/contrib\/tipsy\/javascripts\/jquery.tipsy.js":1,"sites\/all\/modules\/contrib\/tipsy\/javascripts\/tipsy.js":1,"sites\/all\/modules\/custom\/kkms_search\/kkms_search.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/external\/jquery.cookie.js":1,"sites\/all\/modules\/custom\/kk_scs_extra\/kk_scs_extra.js":1,"sites\/all\/modules\/contrib\/apachesolr_autocomplete\/apachesolr_autocomplete.js":1,"sites\/all\/modules\/contrib\/apachesolr_autocomplete\/jquery-autocomplete\/jquery.autocomplete.js":1,"https:\/\/www.google.com\/jsapi":1,"sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js":1,"sites\/all\/modules\/custom\/kkms_social\/kkms_social.js":1,"sites\/all\/themes\/kkms_theme\/js\/jquery.equalheights.js":1,"sites\/all\/modules\/custom\/kkms_performance\/js\/search-form-prevent-post.js":1,"1":1,"sites\/all\/themes\/kkms_theme\/js\/libraries\/modernizr.min.js":1,"sites\/all\/themes\/kkms_theme\/js\/kk.ms.script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.messages.css":1,"sites\/all\/modules\/contrib\/tipsy\/stylesheets\/tipsy.css":1,"sites\/all\/modules\/contrib\/simplenews\/simplenews.css":1,"sites\/all\/modules\/contrib\/calendar\/css\/calendar_multiday.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/contrib\/date\/date_api\/date.css":1,"sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"sites\/all\/modules\/contrib\/date\/date_repeat_field\/date_repeat_field.css":1,"modules\/user\/user.css":1,"modules\/forum\/forum.css":1,"sites\/all\/modules\/contrib\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/contrib\/apachesolr_autocomplete\/apachesolr_autocomplete.css":1,"sites\/all\/modules\/contrib\/apachesolr_autocomplete\/jquery-autocomplete\/jquery.autocomplete.css":1,"sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/contrib\/panels\/css\/panels.css":1,"sites\/all\/themes\/kkms_theme\/templates\/panels_layouts\/section_page_stacked\/onecol_stacked.css":1,"sites\/all\/modules\/contrib\/flexslider\/assets\/css\/flexslider_img.css":1,"sites\/all\/libraries\/flexslider\/flexslider.css":1,"0":1,"sites\/all\/themes\/kkms_theme\/js\/libraries\/jquery-custom-scrollbar\/jquery.custom-scrollbar.css":1,"sites\/ihcph.kk.dk\/files\/theme\/css\/kkms.style.css":1,"sites\/all\/modules\/contrib\/feedback_simple\/feedback_simple.css":1,"sites\/all\/themes\/kkms_theme\/css\/kkms.print.css":1,"sites\/ihcph.kk.dk\/files\/theme\/css\/kkms.ie.css":1,"sites\/ihcph.kk.dk\/files\/theme\/css\/kkms.ie8.css":1}},"apachesolr_autocomplete":{"path":"\/apachesolr_autocomplete"},"kk_scs_extra":{"clear_button_name":"Clear selection","newsletter_create_url":"\/node\/add\/simplenews?destination=admin\/workbench\/simplenews\/existing"},"tipsy":{"custom_selectors":[{"selector":".tipsy","options":{"fade":1,"gravity":"w","delayIn":0,"delayOut":0,"trigger":"hover","opacity":"0.8","offset":0,"html":0,"tooltip_content":{"source":"attribute","selector":"title"}}}]},"flexslider":{"optionsets":{"kkms":{"namespace":"flex-","selector":".slides \u003E li","easing":"swing","direction":"horizontal","reverse":false,"smoothHeight":false,"startAt":0,"animationSpeed":600,"initDelay":0,"useCSS":true,"touch":true,"video":false,"keyboard":true,"multipleKeyboard":false,"mousewheel":0,"controlsContainer":".flex-control-nav-container","sync":"","asNavFor":"","itemWidth":0,"itemMargin":0,"minItems":0,"maxItems":0,"move":0,"animation":"slide","slideshow":true,"slideshowSpeed":"7000","directionNav":true,"controlNav":true,"prevText":"Previous","nextText":"Next","pausePlay":true,"pauseText":"Pause","playText":"Play","randomize":false,"thumbCaptions":false,"thumbCaptionsBoth":false,"animationLoop":true,"pauseOnAction":true,"pauseOnHover":false,"manualControls":""}},"instances":{"flexslider-1":"kkms","flexslider-2":"kkms","flexslider-3":"kkms","flexslider-4":"kkms","flexslider-5":"kkms"}},"eu_cookie_compliance":{"popup_enabled":1,"popup_agreed_enabled":0,"popup_hide_agreed":0,"popup_clicking_confirmation":1,"popup_html_info":"\u003Cdiv\u003E\n  \u003Cdiv class =\u0022popup-content info\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022\u003E\n      \u003Ch2\u003EWe use cookies on this site to enhance your user experience\u003C\/h2\u003E\n\u003Cp\u003EBy clicking any link on this page you are giving your consent for us to set cookies.\u003C\/p\u003E\n    \u003C\/div\u003E\n    \u003Cdiv id=\u0022popup-buttons\u0022\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022agree-button\u0022\u003EYes, I agree\u003C\/button\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022find-more-button\u0022\u003ENo, I want to find out more\u003C\/button\u003E\n    \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E\n","popup_html_agreed":"\u003Cdiv\u003E\n  \u003Cdiv class =\u0022popup-content agreed\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022\u003E\n      \u003Ch2\u003EThank you for accepting cookies\u003C\/h2\u003E\n\u003Cp\u003EYou can now hide this message or find out more about cookies.\u003C\/p\u003E\n    \u003C\/div\u003E\n    \u003Cdiv id=\u0022popup-buttons\u0022\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022hide-popup-button\u0022\u003EHide\u003C\/button\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022find-more-button\u0022 \u003EMore info\u003C\/button\u003E\n    \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E","popup_height":"auto","popup_width":"100%","popup_delay":1000,"popup_link":"http:\/\/en.wikipedia.org\/wiki\/HTTP_cookie","popup_link_new_window":1,"popup_position":1,"popup_language":"en","domain":""},"urlIsAjaxTrusted":{"\/":true}});
//--><!]]>
    </script>
    <script type="text/javascript" async="" src="./Scripts/saved_resource"></script>
    <link type="text/css" rel="stylesheet" href="./Content/1.css">
</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-section-page i18n-en kk_main_menu_collapsed-processed sliding-popup-processed">
    <!--[if lt IE 7]>      <div class="page lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <div class="page lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <div class="page lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <div class="page" style="padding-bottom: 0px;">
        <!--<![endif]-->
        <div id="skip-link">
            <a href="http://ihcph.kk.dk/#main-content" class="element-invisible element-focusable">Skip to main content</a>
        </div>
        <div class="sec sec-header active">
            <div class="sec-inner">
            </div>
        </div><!-- /.sec-header -->
        <div class="sec sec-header-image">
            <div class="sec-inner">
                <a href="" title="Home" rel="home" class="logo-page">
                    <img src="./Images/logo IHC sort .png" alt="ihcph.kk.dk" class="default-logo">
                    <img src="./Images/logo-white.png" alt="ihcph.kk.dk" class="white-logo">
                </a>
            </div>
        </div><!-- /.sec-header-image -->
        <nav class="sec sec-menu">
            <div class="sec-inner menu-section-addings-processed">
                <div id="main-menu-trigger" class="mobile-trigger menu-main-trigger ic-list navigation-click-processed"></div>
                <div id="block-search-form" class="block block-search bl-search">

                    <form action="" method="post" id="search-block-form" accept-charset="UTF-8">
                        <div>
                            <h2 class="element-invisible">Search form</h2>
                            <div class="form-item form-type-textfield form-item-search-block-form">
                                <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                                <input title="Enter the terms you wish to search for." class="apachesolr-autocomplete unprocessed form-text form-autocomplete placeholder" placeholder="Enter your search" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" autocomplete="off">
                            </div>
                            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-pClDkyQ8aH8zoj30B0hCG2azmah3870ZgYxCtlyEJvE">
                            <input type="hidden" name="form_id" value="search_block_form">
                        </div>
                    </form>
                </div>
                <div class="main-menu-wrapper active">
                    <ul id="main-menu" class="menu-main menu clearfix">
                        <li class="menu-1537 first"><a href="http://ihcph.kk.dk/indhold/services">Services</a></li>
                        <li class="menu-1541"><a href="http://ihcph.kk.dk/events/grid" title="">Events</a></li>
                        <li class="menu-1544"><a href="http://ihcph.kk.dk/indhold/companies">For Companies</a></li>
                        <li class="menu-1533"><a href="http://ihcph.kk.dk/indhold/about">About</a></li>
                        <li class="menu-1768 last"><a href="http://www.international.kk.dk/" title="Visit http://www.international.kk.dk for information about service in the City of Copenhagen">Københavns Kommune</a></li>
                    </ul>
                </div>
            </div>
        </nav><!-- /.sec-menu -->
        <div class="sec sec-msg">
            <div class="sec-inner">

            </div>
        </div><!-- /.sec-msg -->
        <div id="main-content" class="sec sec-content" style="padding-bottom: 0px;">
            <div class="sec-inner">
                <div id="block-kkms-social-kkms-social-share-block" class="bl-icons">
                    <h2 class="title element-invisible">Share</h2>
                    <ul>
                        <li><a href="http://www.adgangforalle.dk/" target="_blank" title="Accessibility" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Accessibility&#39;]);"><span class="ic-speaker"></span><span class="tx-ic">Accessibility</span></a></li>
                        <li><a href="http://ihcph.kk.dk/#" class="print-this-page print-this-page-processed-processed" title="Print" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Print&#39;]);"><span class="ic-print"></span><span class="tx-ic">Print</span></a></li>
                        <li>
                            <a href="http://ihcph.kk.dk/#" class="ic-share toggle collapsible" title="Share"><span class="tx-ic">Share</span></a><ul class="bl-shareicons shareblock-processed" style="display: none;">
                                <li><a href="http://ihcph.kk.dk/#" data-share-url="http://www.facebook.com/share.php?u=http%3A%2F%2Fihcph.kk.dk%2F&amp;title=Forside" data-service="fb" class="kkms-social-share-item kkms-social-share-item-processed-processed" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Facebook share&#39;]);"><span class="ic-fb"></span><span class="tx-ic">Facebook share</span></a></li>
                                <li><a href="http://ihcph.kk.dk/#" data-share-url="https://plus.google.com/share?url=http%3A%2F%2Fihcph.kk.dk%2F" data-service="gplus" class="kkms-social-share-item kkms-social-share-item-processed-processed" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Google+ share&#39;]);"><span class="ic-gplus"></span><span class="tx-ic">Google+ share</span></a></li>
                                <li><a href="http://ihcph.kk.dk/#" data-share-url="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fihcph.kk.dk%2F&amp;title=Forside&amp;source=ihcph.kk.dk" data-service="linkedin" class="kkms-social-share-item kkms-social-share-item-processed-processed" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Linkedin share&#39;]);"><span class="ic-linkedin"></span><span class="tx-ic">Linkedin share</span></a></li>
                                <li><a href="http://ihcph.kk.dk/#" data-share-url="http://twitter.com/home?status=Forside+http%3A%2F%2Fihcph.kk.dk%2F" data-service="twitter" class="kkms-social-share-item kkms-social-share-item-processed-processed" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Twitter share&#39;]);"><span class="ic-twitter"></span><span class="tx-ic">Twitter share</span></a></li>
                                <li><a href="http://ihcph.kk.dk/#" data-share-url="/forward?path=indhold%2Fforside" data-service="email" class="kkms-social-share-item kkms-social-share-email-item-processed-processed" onclick="$netminers.push([&#39;postOther&#39;, &#39;Pagefunctions/Tell a friend&#39;]);"><span class="ic-email"></span><span class="tx-ic">Tell a friend</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <div class="panelizer-view-mode node node-full node-section-page node-1">
                    <section>
                        <div class="reg-top-menu  ">
                            <div class="reg-inner">
                                <div class="reg-inner-regions">
                                    <div class="reg-top-menu-left">
                                        <div class="main">
                                            <form action="" class="regform" method="get">
                                                <!-- Fieldsets -->
                                                <fieldset id="first">
                                                    <h2 class="title">Select type of residency</h2>
                                                    <p class="subtitle">Step 1</p>
                                                    <input id="worker_btn" name="worker" type="button" value="Worker"><br>
                                                    <input id="student_btn" name="student" type="button" value="Student"><br>
                                                    <input id="self_employed_btn" name="self_employed" type="button" value="Self-employed person"><br>
                                                    <input id="sufficient_btn" name="sufficient" type="button" value="Sufficient resources"><br>
                                                    <input id="family_btn" name="family" type="button" value="Family member">
                                                </fieldset>
                                                <!-- WORKER -->
                                                <fieldset id="worker_select">
                                                    <h2 class="title">Worker</h2>
                                                    <p class="subtitle">Step 2</p>
                                                    <input id="worker_residence_btn" name="worker_residence_btn" type="button" value="for your EU residence permit"><br>
                                                    <input id="worker_cpr_btn" name="worker_cpr_btn" type="button" value="for your CPR number"><br>
                                                    <input id="worker_tax_btn" name="worker_tax_btn" type="button" value="for your Tax card"><br>
                                                    <input class="pre_btn" name="previous" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="worker_residence">
                                                    <h2 class="title">Worker EU residence permit</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Passport or other valid travel document, national ID card with
                                                            picture. (if possible also a color copy of the passport/ID).
                                                        </li>
                                                        <li>
                                                            One passport picture (2 if you are not an EU citizen)
                                                        </li>
                                                        <li>
                                                            Employer’s declaration (Appendix A of the application form) and/or
                                                            employment contract. Signed max 1 month before the application is
                                                            submitted. Employers dated signature is a must. The salary must
                                                            be at a level so you can support yourself.
                                                        </li>
                                                    </ul>
                                                    <input class="worker_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="worker_cpr">
                                                    <h2 class="title">Worker CPR number</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Nordic CPR number if entry from a Nordic country
                                                        </li>
                                                        <li>
                                                            A proof of your address in Copenhagen (rental contract, letter from
                                                            your landlord e.g.)
                                                        </li>
                                                    </ul>
                                                    <input class="worker_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="worker_tax">
                                                    <h2 class="title">Worker TAX card</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Work contract.
                                                        </li>
                                                        <li>
                                                            Documentary proof of any spouse living in a foreign country, if
                                                            applicable
                                                        </li>
                                                    </ul>
                                                    <input class="worker_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <!-- STUDENT -->
                                                <fieldset id="student_select">
                                                    <h2 class="title">Student</h2>
                                                    <p class="subtitle">Step 2</p>
                                                    <input id="student_residence_btn" name="student_residence_btn" type="button" value="for your EU residence permit"><br>
                                                    <input id="student_cpr_btn" name="student_cpr_btn" type="button" value="for your CPR number"><br>
                                                    <input id="student_tax_btn" name="student_tax_btn" type="button" value="for your Tax card"><br>
                                                    <input class="pre_btn" name="previous" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="student_residence">
                                                    <h2 class="title">Student EU residence permit</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Passport or other valid travel document, national ID card with
                                                            picture. (if possible also a color copy of the passport/ID)
                                                        </li>
                                                        <li>
                                                            One passport picture (2 if you are not an EU citizen)
                                                        </li>
                                                        <li>
                                                            Documentation for enrolment (educational establishment approved
                                                            by the Danish Education Support Agency)
                                                        </li>
                                                    </ul>
                                                    <input class="student_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="student_cpr">
                                                    <h2 class="title">Student CPR number</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Nordic CPR number if entry from a Nordic country
                                                        </li>
                                                        <li>
                                                            A proof of your address in Copenhagen (rental contract, letter from
                                                            your landlord e.g.)
                                                        </li>
                                                        <li>
                                                            The blue EU health insurance card if you are a student
                                                        </li>
                                                    </ul>
                                                    <input class="student_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="student_tax">
                                                    <h2 class="title">Student TAX card</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Work contract.
                                                        </li>
                                                        <li>
                                                            Documentary proof of any spouse living in a foreign country, if
                                                            applicable
                                                        </li>
                                                    </ul>
                                                    <input class="student_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <!-- Self-employed -->
                                                <fieldset id="self_employed_select">
                                                    <h2 class="title">Self-employed person</h2>
                                                    <p class="subtitle">Step 2</p>
                                                    <input id="self_employed_residence_btn" name="self_employed_residence_btn" type="button" value="for your EU residence permit"><br>
                                                    <input id="self_employed_cpr_btn" name="self_employed_cpr_btn" type="button" value="for your CPR number"><br>
                                                    <input id="self_employed_tax_btn" name="self_employed_tax_btn" type="button" value="for your Tax card"><br>
                                                    <input class="pre_btn" name="previous" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="self_employed_residence">
                                                    <h2 class="title">Self employed EU residence permit</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Passport or other valid travel document, national ID card with
                                                            picture. (if possible also a color copy of the passport/ID)
                                                        </li>
                                                        <li>
                                                            One passport picture (2 if you are not an EU citizen)
                                                        </li>
                                                        <li>
                                                            Budget covering the first year of operation drawn up by a registered
                                                            public accountant or a state-authorized public accountant
                                                        </li>
                                                        <li>
                                                            Proof of registration at the Danish Commerce and Companies
                                                            Agency as well as a lease agreement that states where the activity
                                                            is based.
                                                        </li>
                                                    </ul>
                                                    <input class="self_employed_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="self_employed_cpr">
                                                    <h2 class="title">Self employed CPR number</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Nordic CPR number if entry from a Nordic country
                                                        </li>
                                                        <li>
                                                            A proof of your address in Copenhagen (rental contract, letter from
                                                            your landlord e.g.)
                                                        </li>
                                                    </ul>
                                                    <input class="self_employed_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="self_employed_tax">
                                                    <h2 class="title">Self employed TAX card</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Work contract.
                                                        </li>
                                                        <li>
                                                            Documentary proof of any spouse living in a foreign country, if
                                                            applicable
                                                        </li>
                                                    </ul>
                                                    <input class="self_employed_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <!-- Sufficient resources -->
                                                <fieldset id="sufficient_select">
                                                    <h2 class="title">Sufficient resources</h2>
                                                    <p class="subtitle">Step 2</p>
                                                    <input id="sufficient_residence_btn" name="sufficient_residence_btn" type="button" value="for your EU residence permit"><br>
                                                    <input id="sufficient_cpr_btn" name="sufficient_cpr_btn" type="button" value="for your CPR number"><br>
                                                    <input id="sufficient_tax_btn" name="sufficient_tax_btn" type="button" value="for your Tax card"><br>
                                                    <input class="pre_btn" name="previous" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="sufficient_residence">
                                                    <h2 class="title">Sufficient resources EU residence permit</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Passport or other valid travel document, national ID card with
                                                            picture. (if possible also a color copy of the passport/ID)
                                                        </li>
                                                        <li>
                                                            One passport picture (2 if you are not an EU citizen)
                                                        </li>
                                                        <li>
                                                            Proof of sufficient resources to finance your stay, e.g. bank
                                                            statement. In your own name max. 14 days old. Amount
                                                            approximately 10.000 Euro for 1 year stay, or other documents
                                                            proving that you can provide for your own living during your stay in
                                                            Denmark.
                                                        </li>
                                                    </ul>
                                                    <input class="sufficient_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="sufficient_cpr">
                                                    <h2 class="title">Sufficient resources CPR number</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Nordic CPR number if entry from a Nordic country
                                                        </li>
                                                        <li>
                                                            A proof of your address in Copenhagen (rental contract, letter from
                                                            your landlord e.g.)
                                                        </li>
                                                    </ul>
                                                    <input class="sufficient_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="sufficient_tax">
                                                    <h2 class="title">Sufficient resources TAX card</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Work contract.
                                                        </li>
                                                        <li>
                                                            Documentary proof of any spouse living in a foreign country, if
                                                            applicable
                                                        </li>
                                                    </ul>
                                                    <input class="sufficient_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <!-- Family member -->
                                                <fieldset id="family_select">
                                                    <h2 class="title">Family Member</h2>
                                                    <p class="subtitle">Step 2</p>
                                                    <input id="family_residence_btn" name="family_residence_btn" type="button" value="for your EU residence permit"><br>
                                                    <input id="family_cpr_btn" name="family_cpr_btn" type="button" value="for your CPR number"><br>
                                                    <input id="family_tax_btn" name="family_tax_btn" type="button" value="for your Tax card"><br>
                                                    <input class="pre_btn" name="previous" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="family_residence">
                                                    <h2 class="title">Family member EU residence permit</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Passport or other valid travel document, national ID card with
                                                            picture. (if possible also a color copy of the passport/ID)
                                                        </li>
                                                        <li>
                                                            One passport picture (2 if you are not an EU citizen)
                                                        </li>
                                                        <li>
                                                            Proof of family relationship with the EU citizen in the form of
                                                            marriage certificate and/or birth certificate.
                                                        </li>
                                                        <li>
                                                            If cohabiting couple, bring proof that you have been living together
                                                            for a minimum of 1½-2 years (rental lease, rent receipt, owner
                                                            contract etc.)
                                                        </li>
                                                    </ul>
                                                    <input class="family_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="family_cpr">
                                                    <h2 class="title">Family resources CPR number</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Nordic CPR number if entry from a Nordic country
                                                        </li>
                                                        <li>
                                                            A proof of your address in Copenhagen (rental contract, letter from
                                                            your landlord e.g.)
                                                        </li>
                                                    </ul>
                                                    <input class="family_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                                <fieldset id="family_tax">
                                                    <h2 class="title">Family resources TAX card</h2>
                                                    <p class="subtitle">Step 3</p>
                                                    <ul>
                                                        <li>
                                                            Work contract.
                                                        </li>
                                                        <li>
                                                            Documentary proof of any spouse living in a foreign country, if
                                                            applicable
                                                        </li>
                                                    </ul>
                                                    <input class="family_pre_btn" type="button" value="Previous">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="reg-top-menu-right">
                                        <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-ef94c5b8-1a57-4ba8-ba60-91ec70085891 pane-bundle-text-pane">

                                            <h2 class="pane-title">
                                                Find us
                                            </h2>

                                            <div class="fieldable-panels-pane">
                                                <div class="field field-name-field-pane-body field-type-text-long field-label-hidden tx-content">
                                                    <p>
                                                        Gyldenløvesgade 11<br>
                                                        1600 Copenhagen V
                                                    </p>
                                                    <p>You can get help with your paperwork:</p>
                                                    <p>
                                                        Mon-Wed 10.00-15.00<br>
                                                        Thurs 11.00-15.00<br>
                                                        &nbsp;Fri 10.00-14.00&nbsp;
                                                    </p>
                                                    <p><a href="https://www.facebook.com/browse/admined_pages/?id=100005994551357"><strong>LIKE US ON FACEBOOK!</strong></a></p>
                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reg-middle reg-full ">
                            <div class="reg-inner">
                                <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-18ffbd2f-1be9-4bdd-9ee6-6d9c58c76071 pane-bundle-slideshow-pane-links">


                                    <div class="fieldable-panels-pane">
                                        <div class="field field-name-field-slideshow-links field-type-entityreference field-label-hidden">
                                            <aside id="node-27" class="node node-image-slideshow-links" about="/indhold/current-services-international-house" typeof="sioc:Item foaf:Document">

                                                <div class="field field-name-field-images-link field-type-field-collection field-label-hidden">
                                                    <div id="flexslider-1" class="flexslider flexslider-processed flexslider-after-processed">
                                                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                            <ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(-3960px, 0px, 0px);">
                                                                <li class="clone" aria-hidden="true" style="width: 990px; float: left; display: block;">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/samarbejde, ny_0.png" width="800" height="500" alt="" title="Partnership across Zealand" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://ihcph.kk.dk/artikel/one-point-entry-citizens-most-zealand">See the list of municipalities here</a>
                                                                    </div>
                                                                </li>
                                                                <li class="" style="width: 990px; float: left; display: block;">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/Guest Hotel.jpg" width="800" height="500" alt="" title="The University Guest House is located on the top floors of the International House" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://www.universityguesthouse.dk/" target="_blank">Employed at the University of Copenhagen or Rigshospitalet? Stay at the University Guest House</a>
                                                                    </div>
                                                                </li>
                                                                <li style="width: 990px; float: left; display: block;" class="">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/IH, front, nat_1.jpg" width="800" height="500" alt="" title="Copenhagen Host Program" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://ihcph.kk.dk/artikel/copenhagen-host-program" target="_blank">Are you looking for a network? Try Copenhagen Host Program</a>
                                                                    </div>
                                                                </li>
                                                                <li style="width: 990px; float: left; display: block;" class="">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/Udklip.PNG" width="800" height="500" alt="" title="Culture &amp; Leisure Guidance" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://ihcph.kk.dk/indhold/events">Let's guide you to an active life through Culture &amp; Leisure Guidance at the International House</a>
                                                                    </div>
                                                                </li>
                                                                <li style="width: 990px; float: left; display: block;" class="flex-active-slide">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/link til kk.dk english.png" width="800" height="500" alt="" title="Please make sure you bring the right documents to the International" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://www.kk.dk/english">Visit www.kk.dk/english for information on what to bring</a>
                                                                    </div>
                                                                </li>
                                                                <li style="width: 990px; float: left; display: block;">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/Move to DK app slide.png" width="800" height="500" alt="" title="Move to DK app" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://talentcapacity.org/move-to-dk-app">Read more here</a>
                                                                    </div>
                                                                </li>
                                                                <li style="width: 990px; float: left; display: block;">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/samarbejde, ny_0.png" width="800" height="500" alt="" title="Partnership across Zealand" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://ihcph.kk.dk/artikel/one-point-entry-citizens-most-zealand">See the list of municipalities here</a>
                                                                    </div>
                                                                </li>
                                                                <li class="clone" aria-hidden="true" style="width: 990px; float: left; display: block;">
                                                                    <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                        <img typeof="foaf:Image" src="./Images/Guest Hotel.jpg" width="800" height="500" alt="" title="The University Guest House is located on the top floors of the International House" draggable="false">
                                                                    </div>
                                                                    <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                        <a href="http://www.universityguesthouse.dk/" target="_blank">Employed at the University of Copenhagen or Rigshospitalet? Stay at the University Guest House</a>
                                                                    </div>
                                                                </li>
                                                            </ul><div class="controls"><div class="controls-nav"><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="flex-active">4</a></li><li><a>5</a></li><li><a>6</a></li></ol><div class="flex-pauseplay"><a class="flex-pause">Pause</a></div></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://ihcph.kk.dk/#">Previous</a></li><li><a class="flex-next" href="http://ihcph.kk.dk/#">Next</a></li></ul></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="reg-middle-3-col ">
                            <div class="reg-inner">
                                <div class="reg-inner-regions">
                                    <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-64d4640a-e51a-42d2-a74a-2fcfe438fec2 pane-bundle-slideshow-pane-links first odd">


                                        <div class="fieldable-panels-pane">
                                            <div class="field field-name-field-slideshow-links field-type-entityreference field-label-hidden">
                                                <aside id="node-4" class="node node-image-slideshow-links" about="/indhold/facebook-logo-slideshow" typeof="sioc:Item foaf:Document">

                                                    <div class="field field-name-field-images-link field-type-field-collection field-label-hidden">
                                                        <div id="flexslider-2" class="flexslider flexslider-processed flexslider-after-processed">
                                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                                <ul class="slides" style="width: 600%; transition-duration: 0s; transform: translate3d(-307px, 0px, 0px);">
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/IHC, udefra, foto_0.JPG" width="800" height="500" alt="" title="International House" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/internationalhousecopenhagen" target="_blank">FB: International House Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="flex-active-slide" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/IHC, udefra, foto_0.JPG" width="800" height="500" alt="" title="International House" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/internationalhousecopenhagen" target="_blank">FB: International House Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/IHC, udefra, foto_0.JPG" width="800" height="500" alt="" title="International House" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/internationalhousecopenhagen" target="_blank">FB: International House Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                </ul><div class="controls"><div class="controls-nav"><ol class="flex-control-nav flex-control-paging"></ol></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Next</a></li></ul></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-c45f80b2-269b-4c91-98ab-d86e24d992bc pane-bundle-slideshow-pane-links second even">


                                        <div class="fieldable-panels-pane">
                                            <div class="field field-name-field-slideshow-links field-type-entityreference field-label-hidden">
                                                <aside id="node-5" class="node node-image-slideshow-links" about="/indhold/cph-post-facebook" typeof="sioc:Item foaf:Document">

                                                    <div class="field field-name-field-images-link field-type-field-collection field-label-hidden">
                                                        <div id="flexslider-3" class="flexslider flexslider-processed flexslider-after-processed">
                                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                                <ul class="slides" style="width: 600%; transition-duration: 0s; transform: translate3d(-307px, 0px, 0px);">
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/logo__CPH_POST.jpg" width="800" height="500" alt="" title="The Copenhagen Post" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/copenhagenpost" target="_blank" title="www.facebook.com/copenhagenpost">FB: The Copenhagen Post </a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="flex-active-slide" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/logo__CPH_POST.jpg" width="800" height="500" alt="" title="The Copenhagen Post" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/copenhagenpost" target="_blank" title="www.facebook.com/copenhagenpost">FB: The Copenhagen Post </a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/logo__CPH_POST.jpg" width="800" height="500" alt="" title="The Copenhagen Post" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/copenhagenpost" target="_blank" title="www.facebook.com/copenhagenpost">FB: The Copenhagen Post </a>
                                                                        </div>
                                                                    </li>
                                                                </ul><div class="controls"><div class="controls-nav"><ol class="flex-control-nav flex-control-paging"></ol></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Next</a></li></ul></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-ba8e24b1-2c57-4cff-b290-349b38ebbae5 pane-bundle-slideshow-pane-links third odd">


                                        <div class="fieldable-panels-pane">
                                            <div class="field field-name-field-slideshow-links field-type-entityreference field-label-hidden">
                                                <aside id="node-903" class="node node-image-slideshow-links" about="/indhold/visit-copenhagen-fb" typeof="sioc:Item foaf:Document">

                                                    <div class="field field-name-field-images-link field-type-field-collection field-label-hidden">
                                                        <div id="flexslider-4" class="flexslider flexslider-processed flexslider-after-processed">
                                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                                <ul class="slides" style="width: 600%; transition-duration: 0s; transform: translate3d(-307px, 0px, 0px);">
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/wonderful_cph_logo.jpg" width="800" height="500" alt="" title="Visit Copenhagen" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/visitcopenhagen" target="_blank">FB: Visit Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="flex-active-slide" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/wonderful_cph_logo.jpg" width="800" height="500" alt="" title="Visit Copenhagen" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/visitcopenhagen" target="_blank">FB: Visit Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                    <li class="clone" aria-hidden="true" style="width: 307px; float: left; display: block;">
                                                                        <div class="field field-name-field-image-single field-type-image field-label-hidden bl-img">
                                                                            <img typeof="foaf:Image" src="./Images/wonderful_cph_logo.jpg" width="800" height="500" alt="" title="Visit Copenhagen" draggable="false">
                                                                        </div>
                                                                        <div class="field field-name-field-link field-type-link-field field-label-hidden">
                                                                            <a href="http://www.facebook.com/visitcopenhagen" target="_blank">FB: Visit Copenhagen</a>
                                                                        </div>
                                                                    </li>
                                                                </ul><div class="controls"><div class="controls-nav"><ol class="flex-control-nav flex-control-paging"></ol></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="http://ihcph.kk.dk/#" tabindex="-1">Next</a></li></ul></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reg-bottom reg-full  full-width-image">
                            <div class="reg-inner">
                                <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-77bb4d6a-d1da-4cc0-a2d0-316f5f337396 pane-bundle-banner-pane">


                                    <div class="banner-pane fieldable-panels-pane">
                                        <a href="http://ihcph.kk.dk/artikel/organizations-and-companies">
                                            <img typeof="foaf:Image" src="./Images/Organizations and companies.jpg" width="1920" height="520" alt="" title="Organizations and companies">
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <section class="sec sec-footer">
            <div class="sec-inner">
                <div id="block-block-1" class="block block-block bl-footer first odd">
                    <h2 class="title title-footer">International House Copenhagen</h2>
                    <div class="tx-content tx-sec">
                        <p>
                            Gyldenløvesgade 11<br>
                            1600 Copenhagen V
                        </p>
                    </div>
                </div>
                <div id="block-block-2" class="block block-block bl-footer second even">
                    <h2 class="title title-footer">The International Citizen Service is open</h2>
                    <div class="tx-content tx-sec">
                        <p>
                            Mon-Wed: 10.00-15.00<br>
                            Thurs: 11.00-15.00<br>
                            Fri: 10.00-14.00
                        </p>
                    </div>
                </div>
                <div id="block-block-3" class="block block-block bl-footer third odd">
                    <h2 class="title title-footer">Other opening hours</h2>
                    <div class="tx-content tx-sec">
                        <p><a href="https://ihcph.kk.dk/node/67">Meet the International House</a></p>
                    </div>
                </div>
                <div></div>
            </div>
        </section>
        
    </div>

</body>
</html>